*{
    font-size: 16px;
    font-family: Comic Sans MS, Comic Sans, cursive;

}


/******Desktop******/
.title{
    text-align:center;
    margin: 20px;
    font-size: 1.5em;
}

p{
    padding: 0px 5px;
}

.big-div{
    display: flex;
    flex-wrap: wrap;
}

.menu{
    background-color: grey;
    border: 2px black solid;
    margin: 10px;
    max-width: 30%;
}

.menu__1, .menu__2, .menu__3{
    font-weight: 800;
}

.menu__1{
    background-color: rgb(235, 157, 157);
    display: inline-block;
    position: sticky;
    left: 100%;
    bottom: 100%;
}

.menu__1 p{
    font-size: 20px;
    padding: 3px 20px;
    margin: 0px;
    border: black solid 2px;
    border-top: 0px;
    border-right: 0px;
}

.menu__2{
    background-color: rgba(233, 10, 10, 0.733);
    display: inline-block;
    position: sticky;
    left: 100%;
    bottom: 100%;
    color: white;
}

.menu__2 p{
    font-size: 20px;
    padding: 3px 20px;
    margin: 0px;
    border: black solid 2px;
    border-top: 0px;
    border-right: 0px;
}

.menu__3{
    background-color: rgb(235, 230, 157);
    display: inline-block;
    position: sticky;
    left: 100%;
    bottom: 100%;
}

.menu__3 p{
    font-size: 20px;
    padding: 3px 20px;
    margin: 0px;
    border: black solid 2px;
    border-top: 0px;
    border-right: 0px;
}

/*****Tablet*****/

@media (max-width: 991px){

    
    .menu:nth-child(2), .menu:nth-child(1){
        min-width: 50%;
    }
    
    .menu:nth-child(3){
        min-width: 80%;
        max-height: 233px;
    }
}